.calculator {
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  gap: var(--cash-offset-y-64);
  
  &__row-top {
    gap:var(--cash-offset-y-64);
  }
  &__row-middle {
    gap: var(--card-gap-32) 0px;
  }
  &__action-row {
    gap: 24px var(--calculator-gap-84);
  }
  &__wrap {
    gap: var(--calculator-gap-24);
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: var(--calculator-gap-24);
    max-width: 350px;
  }
  &__wrap-sum {
    margin-top: var(--calculator-gap-24);
  }
  &__trigger {
    font-family: var(--forum);
    font-size: var(--calc-btn-fz-70);
    line-height: var(--calc-btn-lh-80);
    font-weight: var(--title-regular);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: var(--calc-btn-width);
    height: var(--calc-btn-height);
    transition: var(--transition);
  
    background-color: var(--beige);
    color: var(--beige);
    text-shadow: -1px 0 var(--brown), 0 1px var(--brown), 1px 0 var(--brown), 0 -1px var(--brown);
    border: var(--btn-border);
  
    &.active {
      background-color: var(--brown);
      color: var(--brown);
      text-shadow: -1px 0 var(--beige), 0 1px var(--beige), 1px 0 var(--beige), 0 -1px var(--white);
    }
  
    &.disabled, &:disabled {
      opacity: 0.4;
      cursor: default;
    }
  
    &:not(:disabled, .active, .disabled):hover {
      box-shadow: var(--box-shadow);
    }
  
    &:not(:disabled, .active, .disabled):active, &:not(:disabled, .active, .disabled):focus {
      background-color: var(--brown);
      color: var(--white);
    }
  }
  &__cash {
    span {
      font-size: inherit;
      line-height: inherit;
      font-family: inherit;
    }
  }
}

@media (max-width: 767px) {
  .calculator {
    &__cash {
      font-size: 50px;
      line-height: 50px;
    }
  }
}