.footer {
    padding-top: var(--section-padding-top-110);
    &__rights {
        margin-top: 144px;
        font-size: 14px;
        line-height: 16px;
        color: var(--brown-secondary);
    }
    &__policy {
        margin-top: 24px;
        font-size: 14px;
        line-height: 16px;
        color: var(--brown-secondary);
        a {
            font-size: 14px;
            line-height: 16px;
            color: var(--brown-secondary);
        }
    }
    &__phone {
        margin-top: 32px;
    }
    &__contacts {
        &:nth-child(2) {
            margin-top: 48px;
        }
    }
    &__social {
        margin-top: 24px;
        display: flex;
        gap: 0px 24px;
        .social__link span {
            font-size: 24px;
            line-height: 24px;
        }
    }
    &__social-list {
        margin-top: 35px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 24px 0px;
    }
    &__social-item a {
        display: flex;
        align-items: center;
        gap: 0px 12px;
    }

    &__address {
        margin-top: 24px;
    }

    &__button {
        margin-top: 30px;
    }
}