.story {
    padding-top: var(--section-padding-top-110);
    padding-bottom: var(--section-padding-bottom-110);
    &__subtitle {
        text-align: center;
        margin-top: var(--subtitle-margin-y-12);
    }
    &__wrapper {
        margin-top: var(--story-cards-margin-y-64);
        gap: var(--card-gap-32) 0px;
    }
    &__text {
        margin-top: var(--story-card-text-margin-y-24);
    }
    &__button {
        margin: 0 auto;
        margin-top: var(--story-button-margin-y-64);
    }

    &__button.button {
        width: 400px;
    }
}

@media (max-width: 767px) {
    .story {
        &__caption {
            text-align: center;
        }
        &__text {
            text-align: center;
        }
    }
}

@media (max-width: 575px) {
    .story {
        &__button.button {
            width: 100%;
        }
    }
}