@import "./fonts";

:root {
  //font family
  --jost: 'Jost', sans-serif;
  --forum: 'Forum', serif;
  
  //colors
  --white: #F5F2E8;
  --beige: #E3DDCC;
  --brown: #996B4A;
  --brown-50: rgba(153, 107, 74, 0.50);
  --brown-secondary: #8C7563; 
  --red: #FF5F42;
  
  //shadows
  --box-shadow: 0px 0px 20px 5px rgba(154, 115, 86, 0.30);

  //title fonts
  --title-fz-70: 70px;
  --title-lh-80: 80px;
  --title-regular: 400;

  --title-fz-50: 50px;
  --title-lh-50: 50px;

  //subtitle fonts
  --subtitle-fz-24: 24px;
  --subtitle-lh-26: 26px;
  --subtitle-bold: 700;
  --subtitle-regular: 400;
  
  //text fonts
  --text-fz-18: 18px;
  --text-lh-20: 20px;
  --text-regular: 400;
  --text-bold: 700;

  --text-fz-16: 16px;
  --text-lh-18: 18px;
  
  //footer text;
  --text-fz-14: 14px;
  --text-lh-16: 16px;

  //button lg
  --btn-lg-padding: 22px 25px;
  --btn-lg-border-radius-20: 20px;
  //button mid
  --btn-md-padding: 15px 20px;
  --btn-md-border-radius-15: 15px;
  //button border
  --btn-border: 1px solid var(--brown);

  //calc button
  --calc-btn-fz-70: 70px;
  --calc-btn-lh-80: 80px;
  --calc-btn-width: 100px;
  --calc-btn-height: 100px;
  
  // transition
  --transition: all 0.3s ease-in-out;

  //input
  --input-border: 2px solid var(--brown-50);
  --input-fz-16: 16px;
  --input-lh-20: 20px;
  --input-border-radius: 15px;
  --input-padding: 22px 12px;
  --input-bold: 700;


  //header
  --header-padding-y: 32px; //mobile 12px
  //nav
  --nav-gap-24: 24px; //mobile 24px
  --nav-button-offset-32: 32px; //mobile 32px
  --nav-contacts-gap-16: 16px; //mobile 16px
  --nav-contacts-gap-12: 12px;

  //general offsets
  --section-padding-top-110: 110px; // mobile top 32px
  --section-padding-bottom-110: 110px; // mobile bottom 12px
  --child-section-padding-y-40: 40px; // mobile 0px
  --offset-y-54: 54px; //mobile 24px
  --offset-y-64: 64px; //mobile 24px


  //intro 
  --intro-margin-top-100: 100px; //mobile 32px

  //story
  --text-border: 3px solid var(--brown); // mobile 1px solid var(--brown)
  --text-padding-60-80: 60px 80px; //mobile 24px
  --text-border-radius-20: 20px; //mobile 30px
  --text-offset-24: 24px; //mobile 18px
  //dreamteam / maybe global...
  --card-padding-54-32: 54px 32px; //mobile 24px
  --card-gap-32: 32px; //mobile 24px
  --card-wrapper-gap-54: 54px; //mobile 12px;
  --card-img-width-100: 100px; //mobile 50px
  --card-img-height-100: 100px; //mobile 50px;
  --offset-top-80: 80px; //mobile 24px
  --offset-bottom-80: 80px; //mobile 24px
  //studio
  --subtitle-margin-y-12: 12px; //mobile 24px
  //slider
  --slider-margin-y-40: 40px; //mobile 48px;
  --slider-padding-y-40: 40px; //mobile 0px;
  --slide-gap-x-16: 16px; //mobile 12px;
  --slider-navigation-margin-y-24: 24px; //mobile 12px;
  --slider-dots-gap-x-12: 12px; //mobile 12px;
  --slide-width: 577px; //mobile 241px
  --slide-height: 565px; //mobile 350px
  --slide-border-radius: 50px; //mobile 30px
  --slider-arrow-width: 30px; //mobile 20px
  --slider-prev-arrow-color: var(--brown-50);
  --slider-next-arrow-color: var(--white);
  //benefits
  --section-padding-top-40: 40px; //mobile 48px
  --section-margin-bottom-110: 110px; //mobile 0px
  --benefits-card-padding-54-24: 54px 24px; //mobile 24px;
  --margin-top-y-40: 0px; //mobile 48px
  --benefits-card-height: 444px; //mobile 348px
  --benefits-card-width: 308px; //mobile 348px
  //card
  --card-gap-24: 24px //mobile 12px;
  --card-padding-54-24: 54px 24px; //mobile 54px 24px
  --card-text-margin-top-24: 24px; //mobile 24px
  //story
  --story-cards-margin-y-64: 64px; //mobile 40px
  --story-card-text-margin-y-24: 24px; //mobile 8px
  --story-button-margin-y-64: 64px; //mobile 48px
  //cash
  --cash-border-radius-60: 60px; //mobile 30px
  --cash-offset-y-64: 64px; //mobile 32px
  --cash-offset-y-12: 12px; //mobile 12px
  --calculator-gap-24: 24px; //mobile 24px
  --calculator-gap-84: 84px; //mobile 24px
  --cash-offset-48: 48px; //mobile 24px
  --cash-offset-y-32: 32px; //mobile 
  --cash-offset-y-24: 24px; //mobile 12px
  --cash-padding-32: 32px; //32px 24px
  //vacancy
  --vacancy-card-border-radius-50: 50px; //mobile 30px
  --vacancy-card-padding-32-24: 32px 16px; //mobile 24px 12px 12px 12px
  --vacancy-card-gap-12-4: 12px 4px; //mobile 12px
  --vacancy-card-margin-y-86: 86px; //mobile 32px
  --vacancy-card-hover-shadow: 0px 0px 20px 5px rgba(154, 115, 86, 0.30);
  //faq
  --faq-item-padding-top-24: 24px; //mobile 8px
  --faq-item-padding-bottom-48: 48px; //mobile 16px;
  --faq-item-interval-y-24: 24px; //mobile 16px
  --faq-item-gap-24: 24px; //mobile 12px  
  //feedback
  --feedback-card-padding-24: 24px; //mobile 24px
  --feedback-card-row-interval-y: 12px; //mobile 12px
  --feedback-user-gap-24: 24px; //mobile 8px
  --feedback-button-gap-24: 24px; //mobile 8px
  --feedback-card-border-radius-30: 30px; //mobile 30px
  --feedback-box-shadow: 0px 0px 13px 0px rgba(22, 22, 23, 0.10);
  --feedback-comments-gap: 32px; //mobile 12px
  --feedback-padding-bottom: 80px; //mobile 12px
  --feedback-photo-width: 48px; //mobile 32px
  --feedback-photo-height: 48px; //mobile 32px
  //form
  --form-padding-64: 64px; //mobile 24px 12px
  --form-input-gap-16: 16px; //mobile 8px
  --form-margin-y-16: 16px; //mobile 16px
  --form-offset-32: 32px; //mobile 32px
  --form-offset-130: 130px; //mobile 12px  
  //footer
  --footer-offset-top-32: 32px; //mobile 24px

}


.intro__wrapper {
  display: flex;
  gap: 10px;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: var(--brown);
  opacity: 0.3;
}

.fancybox-image {
  border-radius: var(--slide-border-radius);
}


//default styles
@import "./default/_default";
//SECTIONS
@import "./sections/_header";
@import "./sections/stars";
@import "./sections/dreamteam";
@import "./sections/studio";
@import "./sections/benefits";
@import "./sections/story";
@import "./sections/cash";
@import "./sections/vacancy";
@import "./sections/faq";
@import "./sections/feedback";
@import "./sections/bid";
@import "./sections/footer";
//COMPONENTS
@import "./components/_text";
@import "./components/_button";
@import "./components/_input";
@import "./components/_slider";
@import "./components/_calculator";
@import "./components/_loader";


@media (max-width: 1199px) {

}

@media (max-width: 991px) {
}


@media (max-width: 767px) {
  :root {
    --title-fz-70: 32px;
    --title-lh-80: 34px;
    --title-fz-50: 24px;
    --title-lh-50: 26px;
    --subtitle-fz-24: 18px;
    --subtitle-lh-26: 20px;
    --text-fz-18: 16px;
    --text-lh-20: 20px;

    //btn
    --btn-lg-padding: 18px 30px;
    --btn-md-padding: 14px 25px;

    //calc btn
    --calc-btn-fz-70: 50px;
    --calc-btn-lh-80: 50px;
    --calc-btn-width: 64px;
    --calc-btn-height: 64px;

    //input 
    --input-padding: 14px 12px;

    //header
    --header-padding-y: 12px;


    //general offsets
    --section-padding-top-110: 32px; // mobile top 32px
    --section-padding-bottom-110: 12px; // mobile bottom 12px
    --child-section-padding-y-40: 0px; // mobile 0px
    --offset-y-54: 24px; //mobile 24px
    --offset-y-64: 24px; //mobile 24px

    //intro
    --intro-margin-top-100: 32px;
    //story
    --text-padding-60-80: 24px; //mobile 24px
    --text-border: 1px solid var(--brown); // mobile 1px solid var(--brown)
    --text-border-radius-20: 30px; //mobile 30px
    --text-offset-24: 18px; //mobile 18px
    //dreamteam / maybe global...
    --card-padding-54-32: 24px; //mobile 24px
    --card-gap-32: 12px; //mobile 12px
    --card-wrapper-gap-54: 12px; //mobile 12px;
    --offset-top-80: 24px; //mobile 24px
    --offset-bottom-80: 24px; //mobile 24px
    --card-img-width-100: 50px; //mobile 50px
    --card-img-height-100: 50px; //mobile 50px;

    //studio
    --subtitle-margin-y-12: 24px; //mobile 24px
    //slider
    --slider-margin-y-40: 48px; //mobile 48px;
    --slider-padding-y-40: 0px; //mobile 0px;
    --slide-gap-x-16: 12px; //mobile 12px;
    --slider-navigation-margin-y-24: 12px; //mobile 12px;
    --slider-dots-gap-x-12: 12px; //mobile 12px;
    --slide-width: 241px; //mobile 241px
    --slide-height: 350px; //mobile 350px
    --slide-border-radius: 30px; //mobile 30px
    --slider-arrow-width: 20px; //mobile 20px
    --slider-prev-arrow-color: var(--brown-50);
    --slider-next-arrow-color: var(--brown);

    //benefits
    --margin-top-y-40: 48px; //mobile 48px
    --section-margin-bottom-110: 12px; //mobile 0px
    //story
    --story-cards-margin-y-64: 40px; //mobile 40px
    --story-card-text-margin-y-24: 8px; //mobile 8px
    --story-button-margin-y-64: 48px; //mobile 48px
      //cash
    --cash-border-radius-60: 30px; //mobile 30px
    --cash-offset-y-64: 32px; //mobile 32px
    --cash-offset-y-12: 12px; //mobile 12px
    --calculator-gap-24: 24px; //mobile 24px
    --calculator-gap-84: 32px; //mobile 24px
    --cash-offset-48: 32px; //mobile 24px
    --cash-offset-48: 28px; //mobile 24px
    --cash-offset-y-32: 32px; //mobile 
    --cash-offset-y-24: 12px; //mobile 12px
    --cash-padding-32: 32px 24px; //32px 24px
    //faq
    --faq-item-padding-top-24: 12px; //mobile 8px
    --faq-item-padding-bottom-48: 16px; //mobile 16px;
    --faq-item-interval-y-24: 16px; //mobile 16px
    --faq-item-gap-24: 12px; //mobile 12px  
    //feedback
    --feedback-card-padding-24: 24px; //mobile 24px
    --feedback-card-row-interval-y: 12px; //mobile 12px
    --feedback-user-gap-24: 8px; //mobile 8px
    --feedback-button-gap-24: 8px; //mobile 8px
    --feedback-card-border-radius-30: 30px; //mobile 30px
    --feedback-box-shadow: 0px 0px 13px 0px rgba(22, 22, 23, 0.10);
    --feedback-comments-gap: 12px; //mobile 12px
    --feedback-padding-bottom: 12px; //mobile 12px
    --feedback-photo-width: 32px; //mobile 32px
    --feedback-photo-height: 32px; //mobile 32px
      //form
      --form-padding-64: 24px 12px; //mobile 24px 12px
      --form-input-gap-16: 8px; //mobile 8px
      --form-margin-y-16: 16px; //mobile 16px
      --form-offset-32: 32px; //mobile 32px
      --form-offset-130: 12px; //mobile 12px  
      //footer
       --footer-offset-top-32: 24px; //mobile 24px
    }
}
